/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-fb {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 60px;
  height: 60px;
}
.icon-gh {
  background-image: url(../img/sprite.png);
  background-position: -130px 0px;
  width: 60px;
  height: 60px;
}
.icon-tw {
  background-image: url(../img/sprite.png);
  background-position: 0px -130px;
  width: 60px;
  height: 60px;
}
.icon-vk {
  background-image: url(../img/sprite.png);
  background-position: -130px -130px;
  width: 60px;
  height: 60px;
}
.icon-fb-hover {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 60px;
  height: 60px;
}
.icon-gh-hover {
  background-image: url(../img/sprite.png);
  background-position: -130px 0px;
  width: 60px;
  height: 60px;
}
.icon-tw-hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -130px;
  width: 60px;
  height: 60px;
}
.icon-vk-hover {
  background-image: url(../img/sprite.png);
  background-position: -130px -130px;
  width: 60px;
  height: 60px;
}
