$white: #efeee9;
$beige: #eeebdf;
$main-font-color: #373e42;
$general-font-color: #5d5a55;
// layout setups
@import "layout/setups.scss";
@import "layout/fonts.scss";

// mixins
@import "helpers/mixins";
// blocks setup
@import "blocks/**/*";
