$white: #fff;
$beige: #eeebdf;
$main-font-color: #373e42;
// layout setups
@import "layout/setups.scss";
@import "layout/fonts.scss";

// mixins
@import "helpers/mixins";
// blocks setup
@import "blocks/**/*";
